#login-container {
    background-color: white;
    padding: 20px;
    border-color: #05089c;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: 7px 8px 5px 7px;
    width: 300px;
    margin-top: 150px ;
    
}
#login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.input-group {
    margin-bottom: 15px;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.btn {
    width: 100%;
    padding: 10px;
    background-color: #ff7f50;
    color: white;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.logbtn:hover{
color: chartreuse;
}