body{
    background-color: antiquewhite;
    font-style: italic;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255)!important;
    font-size: 20px;
    font-style: italic;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 70px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-Size: 20px;
    font-style: italic;
    text-align: inherit;
    text-decoration: none;
    background-color: #ff7f50;
    border: 0;
}
.navbar-brand{
    font-style: italic;
    font-size: 35px;
}
.btn{
    width: 100pxpx;
    color: aliceblue;
    background-color: #ff7f50;
    border-radius: 10px;
}
.ordercontainer{
    margin: auto;
    margin-top: 25px;
    font-style: italic;
    padding: 10px;
    background-color: white;
    height: auto;
    width: 600px;
    border: 2px solid red;
    border-radius: 5px;
}
.ordercontainer h1{
        color: rgb(235, 61, 61);
}
.form-section-title{
    font-size: 30px;
    color: rgb(235, 61, 61);

}
.form-section label{
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    color:rgb(235, 61, 61);
}
.form-section input{
    margin-left: 75px;
    width: 400px;
   border: 1px solid rgb(235, 61, 61); 
   font-style: italic;
   border-radius: 5px;
}
.form-section textarea{
    margin-left: 75px;
    width: 400px;
   border: 1px solid rgb(235, 61, 61); 
   font-style: italic;
   border-radius: 5px;
}